<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col-3 text-right">
    <div class="profile-pic">
      <i data-toggle="modal" data-target="#changeProfilePicModal" class="fas fa-ellipsis-h three-dots-of-profile-pic"></i>
    <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", style:"height:200px; width:200px" %>
    <%else%>
    <img style="height:200px;" class="rounded-circle" src="https://avatars1.githubusercontent.com/u/63822323?s=460&v=4" alt="Card image">
    <%end%>
    </div>
      <h3>Changer d'avatar ?</h3>

    </div>
    <div class="col-9 pb-2">
      <h2 class="display-4"><%= @user.first_name%> <%= @user.last_name%></h2>
      <p><%= @user.description%> </p>
      <h5 class="font-weight-bold mb-2"><%= @user.email%> </h5>
      <%= link_to "Modifier mon profil", edit_user_registration_path, class: "btn btn-outline-danger text-center" %>
    </div>
  </div>


<div class="card-deck mt-5">
  <% @events.each do |event| %>
    <div class="col-md-3 col-sm-4">
      <div class="card mb-3">
        <div class="card-header">
          <h3> <%= link_to "#{event.title}", event_path(event.id)%></h3>
          <h6 class="card-subtitle text-muted">par <%= event.admin.first_name %></h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="https://picsum.photos/200" alt="Card image">
      </div>
    </div>
  <% end %>
</div>

</div>

<!-- Change Profile pic Modal -->

<div class="modal fade" id="changeProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Changer la photo de profil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <%= form_tag user_avatars_path(@user), multipart: true do %>
          <button type="button">Retour</button>
          <%= file_field_tag :avatar, class: "btn btn-secondary"%>
          <%= submit_tag "Valider", data_dismiss: "modal", class:"btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>