<div class="container justify-content-center">


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8 text-right">
        <h1 class="display-3 mt-5"><%= @event.title %></h1>
        <p class="h5">organisé par <%= link_to "#{@event.admin.first_name} #{@event.admin.last_name}", user_path(@admin.id)%>
        <hr class="my-4">
        <blockquote class="blockquote ">
          <p class="h3"><%= @event.description %></p>
        </blockquote>
        <p class="h4"> Nombre de participants : <%= @event.participants.count %> </p>
        <p class="h4"> Lieu : <%= @event.location %> </p>
        <p class="h4 font-weight-bold"><%= @event.price %> €</p>




        <% if current_user.present? && current_user.id != @event.admin.id && !@event.participants.include?(current_user) %>
          <%= link_to "Participer", new_event_attendance_path(@event.id), class: "btn btn-primary btn-lg"%>
        <% elsif current_user.present? && @event.participants.include?(current_user)%>
          <button type="button" class="btn btn-secondary disabled">Tu participes déjà !</button>
        <% elsif current_user == nil %>
          <%= link_to "Participer", new_user_registration_path, class: "btn btn-primary btn-lg"%>
        <% end %>

        <% if current_user.present? && current_user.id == @event.admin.id%>
          <p class="lead">
            <%= link_to "Modifier l'event", edit_event_path(@event.id), class: "btn btn-warning mt-3 mb-3"%>
            <%= link_to "Supprimer l'event", event_path, method: :delete, class: "btn btn-danger mt-3 mb-3"%>
          </p>
        <% end %>
        
      </div>
      <div class="col-4">
        <img src="https://picsum.photos/300/500" class="rounded float-right">
      </div>
  </div>
</div>
</div>


</div>