<div class="container justify-content-center">


<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8 text-right">
        <h1>Tu t'apprêtes à réserver pour l'évènement: </h1>
        <h1 class="display-3 mt-2"> <%= @event.title %></h1>
        <p class="h5">organisé par <%= link_to "#{@event.admin.first_name} #{@event.admin.last_name}", user_path(@event.admin.id)%>
        <hr class="my-4">
        <blockquote class="blockquote ">
          <p class="h3"><%= @event.description %></p>
        </blockquote>
        <p class="h4"> Nombre de participants : <%= @event.participants.count %> </p>
        <p class="h4"> Lieu : <%= @event.location %> </p>
        <p class="h4 font-weight-bold"><%= @event.price %> €</p>
        <%= form_tag event_attendances_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
              <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Paiement pour participer à un évènement"
            data-amount="<%= @event.price * 100 %>"
            data-currency="eur"
            data-locale="auto"></script>
          <% end %>
        
        
      </div>
      <div class="col-4">
        <img src="https://picsum.photos/300/500" class="rounded float-right">
      </div>
  </div>
</div>
</div>


</div>