<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../../app/assets/stylesheets/bootstrap.min.css">

  </head>

  <body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Eventbride</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/events/new">Créer un évènement<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <% if !user_signed_in? %>
      <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-light mr-3" %>
      <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary" %>
    <% else %>
      
        <p class="navbar-text mr-3 pt-3">Bienvenue, <%= current_user.first_name %></p>
      
     
      <%= link_to "Mon Profil", user_path(current_user.id), class: "btn btn-light mr-3" %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
    </form>
  </div>
</nav>
</header>





    <%= yield %>
  </body>
</html>